<div class="modal-header">
  <h4 class="modal-title">
    {{title}}
  </h4>
  
  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <div class="container">
    <div class="row d-flex align-items-center">
      <div class="col-md-12 comments-section">
        <!--====COMMENT AREA START====-->
        <div class="row">
          <div class="col-12">
            <!-- <h2>Comments</h2> -->
            <div class="comment-form comment-post pin-container" >
              <!-- <ejs-uploader #defaultupload class="ejs-uploader" ></ejs-uploader> -->
              <i (click)="displayImage()" class="fas fa-camera attachment"></i>
              <textarea class="comment-area" [(ngModel)]="content" placeholder="Write your comment here"></textarea>
              <a (click)="addComment()" class="btn comment-btn text-white">Post</a>
              <div *ngIf="pin" id='pin' [class]="pin.Images.length > 0 ? 'comment-box-wrapper pin-image' : 'comment-box-wrapper pin'" (click)='unpin()'>
              <ejs-tooltip id='tooltip_2' content='Please click on this message to unpin!!!'>
                <div class="comment-box" >
                  <img [src]="imageBase64(pin.ImageBase64)" class="commenter-image" alt="commenter_image" />
                  <div class="comment-content" style="background: transparent;">
                    <div class="commenter-head">
                      <span class="commenter-name">
                        <a href>{{pin.Username}}</a>
                      </span>
                      <span class="comment-date">
                        <i class="far fa-clock"></i>
                        {{datetime(pin.CreatedTime)}} 
                      </span>
                    </div>
                    <div class="comment-body">
                      <span *ngIf="pin.Images.length > 0" class="comment"> <ngx-gallery [options]="galleryOptions" [images]="renderGalleryImages(pin)"></ngx-gallery></span>
                      <div *ngIf="pin.Images.length === 0" class="comment">{{pin.Content}}</div>
                    </div>
                  </div>
                  <div class="pin-button">
                    <i class="fa fa-thumbtack"></i>
                  </div>
                </div>
              </ejs-tooltip>
            </div>
            </div>
            <input type="file" #attachments multiple name="UploadedFile" (change)="onChangeImageFile($event)" class="d-none"
          accept="image/*" id="image-file-comment" />
          
          </div>
        </div>
        <div class="row">
          <div class="col-12 imageList">
            <div class="image-preview" *ngIf="showImageList">
              <div *ngFor="let item of urls; let index=index" class="img-content">
                <img [src]="item" class="img-thumbnail" alt="your image" />
                <i class="fa fa-times fa-close" (click)="removeSelectedFile(index)"></i>
              </div>
            </div>
          </div>
        </div>
        <!-- =======COMMENTS START=======-->
        <div class="row" id='commentStart'>
          <div class="col-12">
           
          <ng-container *ngFor="let item of dataComment; let i = index">
                <app-tree [treeData]="item" *ngIf="i < totalShow;" [clientRouter]='clientRouter' [taskID]="taskID"></app-tree>
              </ng-container>
            <small style="cursor: pointer;" (click)="increseTotalShow()"
            *ngIf="totalShow < dataComment?.length" class="text-center text-primary d-block">
            See more 
            <i class="fas fa-chevron-down text-small"></i>
          </small>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="modal-footer justify-content-between">
    <button type="button" class="btn btn-outline-dark" (click)="activeModal.close('Close click')">Close</button>
  </div>