<div class="row sticky-top">
    <div class="col-md-12 col-xs-12 col-12">
      <h5 class="text-primary">Filter date range</h5>
    </div>
    <div class="col-lg-6 col-xs-12 col-12 pb-4">
        <ejs-daterangepicker (cleared)="cleared($event)" cssClass="format-wide" (focus)='onFocus($event)' dayHeaderFormat='Short' #ejDateRangePicker [format]="'MMMM dd, yyyy'" showClearButton="false" [allowEdit]="false" showTodayButton="true" (change)="onChangeDateRangepPicker($event)" [(ngModel)]="daterange"></ejs-daterangepicker>
    </div>
    <div class="col-lg-6">
      <button class="btn btn-sm btn-info" (click)='reset()'>
        <i class="fa fa-refresh"> </i> Reset
      </button>
    </div>
  </div>
  <div class="card">
    <div class="card-header">
      <h5 class="card-title"><i class="fas fa-list"></i> History
      </h5>
    </div>
    <div class="card-bodytable-responsive">
      <div class="row">
        <div class="col-md-12">
          <div class="control-section">
            <ejs-treegrid #treegridtask [dataSource]='data' childMapping='children' [treeColumnIndex]='2'
              [pageSettings]='pageSetting' [filterSettings]='filterSettings' [contextMenuItems]='contextMenuItems'
              [toolbar]='toolbarOptions' allowPaging='true' [allowExcelExport]='true' [allowPdfExport]='true' gridLines='Both'
              [allowResizing]='true' showColumnMenu='true' allowSorting='true' allowFiltering='true'
              (toolbarClick)='toolbarClick($event)' (created)='create()'
              (contextMenuClick)="contextMenuClick($event)">
              <e-columns>
                <e-column field="Undo" [disableHtmlEncode]="false" headerText="Undo" width="150" textAlign="Center">
                    <ng-template #template let-data>
                      <button class="btn btn-xs btn-success" (click)="undo(data.ID)" > <i class="fa fa-undo"></i> Undo</button>
                    </ng-template>
                  </e-column>
                <e-column field="Priority" headerText="Priority" width="110" textAlign="Center">
                  <ng-template #template let-data>
                    <span id="priority"
                      [class]="data.Priority == 'High' ? 'badge bg-danger' : data.Priority =='Medium' ? 'badge bg-warning' : 'badge bg-info'"
                      style="padding:4px;color:white">{{data.Priority}}</span>
                  </ng-template>
                </e-column>
                <e-column field="JobName" headerText="Task Name" clipMode='EllipsisWithTooltip' textAlign="Center" width="240">
                </e-column>
                <e-column field="From" headerText="From" width="120"></e-column>
                <e-column field="PIC" headerText="PIC" width="180" format="yMd" textAlign="Center"></e-column>
                <e-column field="state" headerText="Status" width="120" textAlign="Center">
                  <ng-template #template let-data>
                    <span id="priority" [class]="data.state == 'Undone' ? 'badge bg-danger' : 'badge bg-success'"
                      style="padding:4px;color:white">{{data.state}}</span>
                  </ng-template>
                </e-column>
                <e-column field="SpecificDate" headerText="Due Date" width="200" textAlign="Center"></e-column>
                <e-column field="CreatedDateForEachTask" headerText="Created Date" width="200" textAlign="Center"></e-column>
                <e-column field="DueDateDaily" headerText="Daily" width="160" textAlign="Center"></e-column>
                <e-column field="DueDateWeekly" headerText="Weekly" width="160" textAlign="Center"></e-column>
                <e-column field="DueDateMonthly" headerText="Monthly" width="160" textAlign="Center"></e-column>
                <e-column field="DueDateQuarterly" headerText="Quarterly" width="160" textAlign="Center"></e-column>
                <e-column field="DueDateYearly" headerText="Yearly" width="160" textAlign="Center"></e-column>
                <e-column field="CreatedDateForEachTask" headerText="Created Date" width="160" textAlign="Center"></e-column>
                <e-column field="WatchVideo" [disableHtmlEncode]="false" headerText="Watch Video" width="200" textAlign="Center">
                  <ng-template #template let-data>
                    <button [class]="data.VideoStatus? 'btn btn-sm btn-success' : 'd-none'" (click)="openWatchTutorialWatchModalByButton(data)">Watch</button>
                  </ng-template>
                </e-column>
              </e-columns>
            </ejs-treegrid>
          </div>
        </div>
      </div>
    </div>
  </div>